
{% block body %}
    <h1>Discpline</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discpline.id }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ discpline.nature }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if discpline.dateDebut %}{{ discpline.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datfin</th>
                <td>{% if discpline.datFin %}{{ discpline.datFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ discpline.commentaire }}</td>
            </tr>
            <tr>
                <th>Couse</th>
                <td>{{ discpline.couse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('discpline_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('discpline_edit', { 'id': discpline.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
