<div class="modal-header">
    <button type="button" class="close  closeajax" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
    <h2 class="modal-title" id="modal-fa5-label">Ajouter fonction </h2>
</div>
<div class="modal-body">
    {{ form_start(edit_form,{'attr':{'class':'checkout-form','id':'smart-form-register','action':path('fonction_edit',{'id':fonction.id}),'method':'POST'|trans}})}}

    <div  class="smart-form row">
        <section>
            <label class="label">Fonction</label>
            <label class="input">
                <i class="icon-append fa fa-tag"></i>
                {{ form_widget(edit_form.libelleFonction,{'attr': {'type':'text','name':'fonction','placeholder':'Fonction'|trans}}) }}
                {{ form_errors(edit_form.libelleFonction)}}
            </label>

        </section>
    </div>
    <div class="row">
        <section>
            {{ form_widget(edit_form.postes,{'attr': {'type':'file','multiple':'multiple','size':'6','class':'initializeDuallistbox'|trans}}) }}

        </section>

    </div>

</div>
<div class="modal-footer">
    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Enregister
        </button>


    </footer>
    {{ form_end(edit_form,{'render_rest':false}) }}
</div>

