<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <div class="row">
        <h4 class="modal-title pull-left " id="myModalLabel"><i class="icon-append fa  fa-user"
                                                                style="margin-left: 30px"></i> Ajouter employé </h4>
        <span id="bdg" class="badge bg-color-red bounceIn animated pull-left "
              style="padding:6px; display: none; margin-left: 15px;"></span>

    </div>
</div>
<div class="modal-body" style=" max-height: 470px; overflow-y: auto;">
    {{ form_start(edit_form,{ 'attr': {'enctype':'multipart/form-data','id':'checkout-form','class': 'smart-form','action': path('employee_edit',{'id':employee.id}), 'method': 'POST'|trans }} ) }}

    <div class="panel-group smart-accordion-default" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading " style="background-color: #192ac9">
                <h4 class="panel-title txt-color-white"><a data-toggle="collapse" data-parent="{{employee.id}}"
                                                           href="#collapseOne{{employee.id}}">
                        <i class="fa fa-lg fa-angle-down pull-right txt-color-white"></i>
                        <i class="fa fa-lg fa-angle-up pull-right txt-color-white"></i>
                        Création d'un nouvel employé  </a></h4>
            </div>
            <div id="collapseOne{{employee.id}}" class="panel-collapse collapse in">
                <div class="panel-body padding-7 ">


                    <div class="row">
                        <article class="col col-6">


                            <section class="">
                                <label class="label">Nom</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    {{ form_widget ( edit_form.nom,{ 'attr': {'type': 'text'|trans } } ) }}
                                    <b class="tooltip tooltip-bottom-right">Entrez le nom </b> </label>
                            </section>

                            <section class="">
                                <label class="label">Prénom</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    {{ form_widget ( edit_form.prenom,{ 'attr': {'type': 'text'|trans } } ) }}
                                    <b class="tooltip tooltip-bottom-right">Entrez le prenom </b> </label>
                            </section>
                            <section class="">
                                <label class="label">eamil</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    {{ form_widget ( edit_form.email,{ 'attr': {'type': 'text','readonly':'readonly'|trans } } ) }}
                                    <b class="tooltip tooltip-bottom-right">Entrez le nom </b> </label>
                            </section>
                            <section class="">
                                <label class="label">username</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    {{ form_widget ( edit_form.username,{ 'attr': {'type': 'text','readonly':'readonly'|trans } } ) }}
                                    <b class="tooltip tooltip-bottom-right">Entrez le nom </b> </label>
                            </section>
                            <section>
                                <label class="label">emailSecondaireEmployee</label>
                                <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                    {{ form_widget ( edit_form.emailSecondaireEmployee,{ 'attr': {'type': 'email','name':'emailSecondaireEmployee'|trans } } ) }}
                                    <b class="tooltip tooltip-bottom-right">Entrez l'email secondaire</b>
                                </label>
                            </section>

                        </article>
                        <article class="col col-6 ">
                            <section class="" style="height: 200px; width: 200px; margin: 0 auto;">
                                <div class="slim" data-label="Drop profile photo here"  data-ratio="1:1" style="border-radius: 50%;">
                                    {% if employee.imageName %}
                                        <img src="{{ asset('upload/images/'~employee.imageName) }}"/>
                                    {% endif %}
                                    <input type="file" name="imageFile" />


                                </div>
                            </section>
                            <section>
                                <label class="label">Site
                                </label>
                                <label class="select">
                                    {{ form_widget ( edit_form.site ) }}
                                    <i></i>
                                </label>
                            </section>
                        </article>
                        <article class="col col-6 ">

                            <section class="">
                                <label class="label">Genre </label>
                                <label class="select">
                                    {{ form_widget ( edit_form.sexe) }}
                                    <i></i>
                                </label>
                            </section>
                            <section class="">
                                <label class="label">Département
                                    <a href="#myNewdepartementModal" class="open ajouter" data-toggle="modal"> <i
                                                class=" glyphicon glyphicon-plus-sign " style="color: #3cb131"></i></a>
                                </label>
                                <label class="select">
                                    {{ form_widget ( edit_form.departement ) }}
                                    <i></i>
                                </label>
                            </section>

                            <section>
                                <label class="label">Fonction
                                    <a href="#myNewfonctionsModal" class="open ajouter" data-toggle="modal"> <i
                                                class=" glyphicon glyphicon-plus-sign " style="color: #3cb131"></i></a>
                                </label>
                                <label class="select">
                                    {{ form_widget ( edit_form.fonctions ) }}
                                    <i></i>
                                </label>
                            </section>



                        </article>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="accordion">
            <div class="panel-heading" style="background-color: #3487ac">
                <h4 class="panel-title txt-color-white ">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo{{employee.id}}" class="collapsed">

                        <i class="fa fa-lg fa-angle-down pull-right txt-color-white"></i>
                        <i class="fa fa-lg fa-angle-up pull-right txt-color-white"></i>
                        Informations </a></h4>
            </div>
            <div id="collapseTwo{{employee.id}}" class="panel-collapse collapse ">
                <div class="panel-body padding-7 ">


                    <article class="col col-6">
                        <section>
                            <label class="input"> <i class="icon-append fa fa-list-alt"></i>
                                {{ form_widget ( edit_form.cINEmployee,{'attr': {'type': 'text','placeholder':'cin'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez le Cin</b>

                            </label>
                        </section>
                        <section>
                            <label class="input"> <i class="icon-append fa fa-tag"></i>
                                {{ form_widget ( edit_form.adresseEmploye,{ 'attr': {'type':'text','placeholder':'Adresse','name':'adresseEmploye'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez l'adresse</b>
                            </label>
                        </section>
                        <section>
                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                {{ form_widget(edit_form.dateNaiss,{'id':'datenais'~employee.id,'attr':{'class':'datenais'|trans}})}}
                                <b class="tooltip tooltip-bottom-right">Entrez ladate de naissance</b>
                            </label>
                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-mobile"></i>
                                {{ form_widget ( edit_form.numTelEmployee,{ 'attr': {'type': 'text','placeholder':'numéro de téléphone','name':'numTelEmployee'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez numero telephone</b>
                            </label>
                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-signal"></i>
                                {{ form_widget ( edit_form.matriculeEmployee,{ 'attr': {'type': 'text','name':'maison','placeholder':'matricule'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez matricule</b>
                            </label>
                        </section>

                    </article>
                    <article class="col col-6">
                        <section>
                            <label class="input"> <i class="icon-append fa fa-tag"></i>
                                {{ form_widget ( edit_form.rIBEmployee,{ 'attr': {'type': 'text','name':'rIBEmployee','placeholder':'Rib'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez Rib </b>
                            </label>
                        </section>
                        <section>
                            <label class="input"> <i class="icon-append fa fa-tag"></i>
                                {{ form_widget ( edit_form.numSecuriteSocialeEmployee,{ 'attr': {'type': 'text','name':'numSecuriteSocialeEmployee','placeholder':'Numéro sécurité sociale'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez numero de securite sociale </b>

                            </label>

                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-map-marker"></i>
                                {{ form_widget ( edit_form.lieunais,{ 'attr': {'type': 'text','placeholder':'Lieu de naissance','name':'lieunais'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez lieu naissance</b>
                            </label>
                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-phone"></i>
                                {{ form_widget ( edit_form.maison,{ 'attr': {'type': 'text','name':'maison','placeholder':'tel maison'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez telephone maison</b>
                            </label>
                        </section>


                        <section>
                            <label class="input"> <i class="icon-append fa fa-signal"></i>
                                {{ form_widget ( edit_form.gradeEmployee,{ 'attr': {'type': 'text','name':'maison','placeholder':'tél Domicile'|trans } } ) }}
                                <b class="tooltip tooltip-bottom-right">Entrez grade</b>
                            </label>
                        </section>
                    </article>

                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #52a6e0">
                <h4 class="panel-title txt-color-white">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{employee.id}}" class="collapsed">
                        <i class="fa fa-lg fa-angle-down pull-right txt-color-white"></i>
                        <i class="fa fa-lg fa-angle-up pull-right txt-color-white"></i>
                        Profil</a></h4>
            </div>
            <div id="collapseThree{{employee.id}}" class="panel-collapse collapse ">
                <div class="panel-body padding-7 ">


                    <section>
                        <label class="label">Compétence</label>
                        <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                            {{ form_widget ( edit_form.competance,{ 'attr': {'type': 'text','name':'competance'|trans } } ) }}
                            <b class="tooltip tooltip-bottom-right">Entrez competance</b>
                        </label>
                    </section>
                    <section>
                        <label class="label">Diplome</label>
                        <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                            {{ form_widget ( edit_form.diplome,{ 'attr': {'type': 'text','name':'diplome'|trans } } ) }}
                            <b class="tooltip tooltip-bottom-right">Entrez diplome</b>
                        </label>
                    </section>

                    <section>
                        <label class="label">Expérience</label>
                        <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                            {{ form_widget ( edit_form.experience,{ 'attr': {'type': 'text','name':'experience'|trans } } ) }}
                            <b class="tooltip tooltip-bottom-right">Entrez experience</b>

                        </label>
                    </section>

                    <section>
                        <label class="label">Aptitude physique</label>
                        <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                            {{ form_widget ( edit_form.aptitudePhysique,{ 'attr': {'type': 'text','name':'aptitudePhysique'|trans } } ) }}
                            <b class="tooltip tooltip-bottom-right">Entrez aptitudePhysique</b>

                        </label>
                    </section>


                </div>
            </div>
        </div>


    </div>

</div>


<div class="modal-footer">
    {{ form_widget(edit_form._token) }}

    <button type="button" class="btn btn-default" data-dismiss="modal">
        Annuler
    </button>
    <button type="submit" class="btn btn-primary">
        Modifier

    </button>
</div>

{{ form_end(edit_form, {'render_rest': false}) }}










