{% extends "login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form" class="smart-form client-form">
                    <header>
                        Se connecter
                    </header>

                    <fieldset>

                        <section>
                            <label for="username">{{ 'security.login.username'|trans({},'FOSUserBundle' )}}</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entrez le nom d'utilisateur</b></label>
                        </section>

                        <section>
                            <label for="password">{{ 'security.login.password'|trans({},'FOSUserBundle' )}}</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" id="password" name="_password" required="required" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Tapez votre mot de passe</b> </label>
                            <div class="note">
                                <a href="{{ path('fos_user_resetting_request')}}">Mot de passe oublié?</a>
                            </div>
                        </section>
                        <section>
                            <label class="checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <i></i>{{ 'security.login.remember_me'|trans({},'FOSUserBundle' )}}</label></label>
                        </section>
                    </fieldset>
                    <footer>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({},'FOSUserBundle' )}}"  class="btn btn-primary">


                    </footer>
                </form>

    {% endblock fos_user_content %}
