
{% block body %}
    <h1>Fichier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fichier.id }}</td>
            </tr>
            <tr>
                <th>Commentire</th>
            </tr>
            <tr>
                <th>Naturefichier</th>
                <td>{{ fichier.natureFichier }}</td>
            </tr>
            <tr>
                <th>Fichierjoins</th>
                <td>{{ fichier.fichierJoins }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fichier_edit', { 'id': fichier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
