<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>

    <h4 class="modal-title" id="myModalLabel"><i class=" glyphicon glyphicon-tasks" ></i> Ajouter programme des jours</h4>
</div>
<div class="modal-body" style="max-height: 470px; overflow-y: auto;">
    {{ form_start(edit_form,{ 'attr': {'class': 'smart-form formation-form','id':'smart-form-register','action': path('formation_edit',{'id':formation.id}), 'method': 'POST'|trans }} ) }}

    <nav class="navbar navbar-default navbar-fixed-top bg-color-blue" style="margin-top: 57px; ">
        <div class="container raw ">


            <p class="navbar-text " style="padding-top: 15px;padding-left: 55px; color: white;">Nb Jour</p>
            <p class="navbar-text" style="padding-top: 15px;padding-left: 150px; color: white;">Programme matin</p>
            <p class="navbar-text" style="padding-top: 15px;padding-left: 260px; color: white;">Programme après midi</p>



        </div>
    </nav>


    <br><br><br>
    {% set myVal = 1 %}
    {% for jour in edit_form.jours %}
        <div class="row">
            <section class="col col-2 " >
                <label class="label text-center">Jour {{ myVal }} </label>
            </section>
            <section class="col col-5" >
                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                    {{ form_widget (jour.progMedi) }}
                </label>
            </section>
            <section class="col col-5" >
                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                    {{ form_widget (jour.progmatin) }}
                </label>
            </section>

        </div>
        {% set myVal = myVal + 1 %}
    {% endfor %}



</div>


<div class="modal-footer">
    {{ form_widget(edit_form._token) }}

    <button type="button" class="btn btn-default" data-dismiss="modal">
        Annuler
    </button>
    <button type="submit" class="btn btn-primary">
        Ajouter
    </button>
</div>

<div style="display: none"> {{ form_end(edit_form, {'render_rest': true}) }}</div>

</div>









