

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
    <h2 class="modal-title" id="modal-fa5-label">Ajouter evaluation </h2>
</div>
<div class="modal-body">
    {{ form_start(form,{'attr':{'class':'smart-form','id':'smart-form-register','action':path('evaluation_new'),'method':'POST'|trans}})}}

    <div class="row">
            <section class="col col-4">
                <label class="label">Formation </label>
                <label class="select">
                    {{ form_widget(form.formation ) }}
                    <i></i>
                </label>
            </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <div class="rating">
                {% for child in form.afroid %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">afroid</label>
            </div>
        </section>

            <section class="col col-4">
                <div class="rating">
                    {% for child in form.achaud %}
                        {% set a=child.vars.label %}

                        {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                        <label for="{{ a }}"><i class="fa fa-star"></i></label>

                    {% endfor %}
                    <label class="label">achaud</label>
                </div>
            </section>


        <section class="col col-4">
            <div class="rating">
                {% for child in form.datePrevue %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">date Prevue</label>
            </div>
        </section>
</div>
<div class="row">

    <section class="col col-4">
        <div class="rating">
            {% for child in form.efficace %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">efficace</label>
        </div>
    </section>


    <section class="col col-4">
        <div class="rating">
            {% for child in form.methodePedalogique %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">Pédalogique</label>
        </div>
    </section>

    <section class="col col-4">
        <div class="rating">
            {% for child in form.conference %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">conference</label>
        </div>
    </section>


</div>

<div class="row">
    <section class="col col-4">
        <div class="rating">
            {% for child in form.supportDeCours %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">supportDeCours</label>
        </div>
    </section>

    <section class="col col-4">
        <div class="rating">
            {% for child in form.lieu %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">lieu</label>
        </div>
    </section>

    <section class="col col-4">
        <div class="rating">
            {% for child in form.duree %}
                {% set a=child.vars.label %}

                {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                <label for="{{ a }}"><i class="fa fa-star"></i></label>

            {% endfor %}
            <label class="label">duree</label>
        </div>
    </section>
</div>


    <div class="row">
        <section class="col col-4">
            <div class="rating">
                {% for child in form.recpectHumain %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">recpectHumain</label>
            </div>
        </section>
        <section class="col col-4">
            <div class="rating">
                {% for child in form.contenueCours %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">contenueCours</label>
            </div>
        </section>

        <section class="col col-4">
            <div class="rating">
                {% for child in form.travauxPratique %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">travaux Pratique</label>
            </div>
        </section>

    </div>

    <div class="row">
        <section class="col col-4">
            <div class="rating">
                {% for child in form.objectif %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">objectif</label>
            </div>
        </section>
        <section class="col col-4">
            <div class="rating">
                {% for child in form.annimateur %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">annimateur</label>
            </div>
        </section>

        <section class="col col-4">
            <div class="rating">
                {% for child in form.ambianceGenerale %}
                    {% set a=child.vars.label %}

                    {{ form_widget(child, { 'id': a ,'attr': {'type':'radio'}}) }}
                    <label for="{{ a }}"><i class="fa fa-star"></i></label>

                {% endfor %}
                <label class="label">ambianceGenerale</label>
            </div>
        </section>

    </div>

    <div class="row">
        <section class="">
            <label class="label">Commentaire </label>
            <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                {{ form_widget(form.commantaire,{'attr':{'type':'text','placeholder':'commantaire'|trans}}) }}

            </label>
        </section>
    </div>
</div>

<div class="modal-footer">

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Enregister
        </button>


    </footer>
    {{ form_end(form,{'render_rest':false}) }}
</div>



